<% provide(:title, "Quiz") %>

{{ question }}

 <%= form_tag("/", :class => "quiz-form", "ng-submit" => "addTodo()") do %>
    <ol>
        <li><%= radio_button_tag(:q1, "A") %>{{ answers.answerA }}</li>
        <li><%= radio_button_tag(:q1, "B") %>{{ answers.answerB }}</li>
        <li><%= radio_button_tag(:q1, "C") %>{{ answers.answerC }}</li>
        <li><%= radio_button_tag(:q1, "D") %>{{ answers.answerD }}</li>
        <li><%= radio_button_tag(:q1, "E") %>{{ answers.answerA }}</li>
    </ol>
    
      <%= hidden_field_tag :user_id, { :value => current_user.id } %>


  <%= submit_tag "Continue", class: "btn" %>
<% end %>