<!DOCTYPE html>
<html ng-app="Quiz">
<head>
  <title>QuizApp</title>
  <%= stylesheet_link_tag    "screen", media: 'screen' %>
  <%= javascript_include_tag "angular.min.js" %>
  <%= javascript_include_tag "angular-resource.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title><%= yield(:title) %></title>
</head>
<body>

<div id="Container" ng-controller="QuizCtrl">
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  <header>
    <% if signed_in? %>
      Hi, <%= @current_user.email %>, <%= button_to "Logout", logout_path, method: "delete" %></li>
    <% else %>
      <ol>
        <li><%=link_to "Login", login_path %></li>
        <li><%=link_to "Register", register_path %></li>
      </ol>
    <% end %>
  </header>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
